/********************
YOUR STYLES
*******************/

var pattern = Trianglify({
  height: 300,
  width: 300,
  cell_size: 40});

document.body.appendChild(pattern.canvas());

body {
    background: Trianglify;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}